/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#090b16;
    color:#fff;
    overflow-x:hidden;
}

/* Animated Background */

.bg{
    position:fixed;
    inset:0;
    z-index:-2;
    background:
    radial-gradient(circle at top left,#6d3cff55,transparent 40%),
    radial-gradient(circle at bottom right,#229ED955,transparent 40%),
    #090b16;
}

.bg::before{
    content:"";
    position:absolute;
    inset:0;
    backdrop-filter:blur(80px);
}

/* Main */

.container{
    width:min(100%,900px);
    margin:auto;
    padding:30px 18px;
}

/* Glass Card */

.glass-card{
    background:rgba(255,255,255,.06);
    border:1px solid rgba(255,255,255,.12);
    border-radius:28px;
    backdrop-filter:blur(18px);
    padding:35px 25px;
    box-shadow:0 20px 60px rgba(0,0,0,.35);
    animation:fadeUp .5s ease;
}

.hidden{
    display:none;
}
